.answers{
  color: rgb(33, 151, 195);

}
.post-tile{
  box-shadow: 5px 5px 2px #888888;
  height: 100%;
  margin-bottom: 4%;
  background-color: #b1baa9;


}
.by{
  text-align: right;
  padding-right: 2%;

}
.quiz{
  max-height: 49px;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;

  overflow: hidden;


}
h1{
  text-align: center;
  padding-bottom: 2%;
}
input {
  width: 100%;

}
textarea{
  resize: none;

}
body{
  background-color: #ecedea;
}
/*.post{
  background-color: #b2b7b4;
  height: 100%
}*/
#new-post{
background-color: blue;
height: 60px;
width: 150px;
color: white;
}
#savepost{
  background-color: #a49aa8;
  height: 35px;
  padding: 5px;
}
